.git
.idea
.pytest_cache
.venv
__pycache__
*.py[oc]
.DS_Store

.env
*.sqlite
*.sqlite3
db.sqlite3
media
ai/documents/lancedb_storage

frontend/node_modules
frontend/dist
static/frontend

Dockerfile
docker-compose.override.yml
